<section class="section bg-success">
	<div class="container">
		<h1>{{title}}</h1>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="row" style="margin: 0;">
		  <div class="col-md-12">
		    <ul class="list-group">
		      <li class="list-group-item"><a href="#/">HOME</a></li>
		      <li class="list-group-item"><a href="#/cliente">Cadastrar Cliente</a></li>
		      <li class="list-group-item"><a href="#/lista">Consultar Cliente</a></li>
		      <li class="list-group-item"><a href="#/contatos">Consultar Contatos</a></li>
		      <li class="list-group-item"><a href="#/quemsou">Quem somos</a></li>
		      <li class="list-group-item"><a href="#/exit">Sair</a></li>
		    </ul>
		  </div>
		</div>
	</div>
</section>

<footer class="footer text-center">
	&copy; Adriano Reis
</footer>